@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik&display=swap');

body {
  font-family: 'Montserrat'
}

.stripes-background {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 20px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.3) 40px
  );
}

.toast-fade-enter {
  position: relative;
  opacity: 0;
  left: -10px;
}
.toast-fade-enter-active {
  position: relative;
  opacity: 1;
  left: 0;
  transition: all 200ms;
}
.toast-fade-exit {
  position: relative;
  opacity: 1;
  left: 0;
}
.toast-fade-exit-active {
  position: relative;
  opacity: 0;
  left: -20px;
  transition: all 200ms;
}